<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Multiple Instances</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="vue-app-one">
    <!-- <h1>{{greet("afternoon")}}</h1>
    <p>{{name}}</p>
    <p>Job: {{job}}</p> -->
    <!-- <h1>For Loop</h1>
    <button v-on:click="error=!error">Toggle Error</button>
    <button v-on:click="success=!success">Toggle Success</button>
    <!-- <p v-if="error">There has been a error</p>
    <p v-if="success">It's successful!</p> -->
    <!-- <p v-show="error">There has been a error</p>
    <p v-show="success">It's successful!</p> -->
  <h1>Vue App One</h1>
  <greeting></greeting>
  </div>

  <div id="vue-app-two">
    <h1>Vue App Two</h1>
    <greeting></greeting>
    <!-- <button v-on:click="changeTitle">Change One's Title</button> -->
  </div>


<script src="app.js"></script>
</body>
</html>
